@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
/* font-family: 'Dancing Script', cursive; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-size: 1.2rem;
    list-style-type: none;
    /* border: 1px solid red; */
    text-decoration: none;
}
/* ************HEADER****************** */

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    align-items: center;
    background-color: #ff1168;
}
.head-slider-container {
    display: flex;
    width: 100%;
    /* height: 50px; */
    margin: 10px auto; 
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;

    animation: slide 2s ease-in-out;
}
.head-slider-container ul{
    display: flex;
    width: 300%;
    padding: 0;
}
.head-slider-container ul li{
    /* display: flex; */
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    color: #ffff;
}
@keyframes slide {
    0% {
        transform: scale(-1, 1.5);
    }
}
.header-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 20px;
    height: 40px;
}
.icon-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;

    animation: icon-img 2s ease-in-out;
}
@keyframes icon-img{
    0% {
        transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(90deg);
    }
    50% {
        transform: rotateY(180deg);
    }
}
.icon-img:hover {
    animation: img-hover 6s ease-in-out;
}
.search {
    width: 50%;
}
.search input{
    padding: 5px;
    width: 90%;
    border-radius: 10px;
    border: none;
    background-color: pink;
}
.nav-search {
    display: flex;
    width: 30%;
    gap: 20px;
    justify-content: space-between;
    padding: 10px;
}
.nav-search a{
    color: #ffff;
    font-size: 1.4rem;
    font-weight: 700;
    transition: all 1s;
    padding: 8px 10px;
    border-radius: 10px;
}
.nav-search a:hover {
    border: 1px solid white;
}
.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.navbar ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.navbar ul a {
    color: #ffff;
    font-size: 1rem;
    font-weight: 400;

    animation: btn-animate 2s alternate ease-in-out;
}
@keyframes btn-animate{
    0% {
        transform: translateY(-200%);
    }
}
.btn-kit {
    width: 200px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid white;
    background-color: #ff1150;
    color: #ffff;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}
.btn-kit:hover {
    background-color: pink;
    color: black;
}

/* **********btn************ */
.nav-btn{
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    background: rgba(0,0,0,0.09);
  }
.nav-btn span{
    display: block;
    padding: 5px 10px;
    font-size: 1rem;
  }
.nav-btn::before, .nav-btn::after{
    content:"";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: #fff;
  }
  
.nav-btn span::before, .nav-btn span::after{
    content:"";
    width:2px;
    height:0;
    position: absolute;
    transition: all 0.1s linear;
    background: #fff;
  }
.nav-btn:hover::before, .nav-btn:hover::after{
    width: 100%;
  }
.nav-btn:hover span::before, .nav-btn:hover span::after{
    height: 100%;
  }
.nav-btn::after{
    left: 0;
    bottom: 0;
    transition-delay: 0.6s;
    border-radius: 5px;
  }
.nav-btn span::after{
    transition-delay: 0.4s;
    right: 0;
    bottom: 0
  }
.nav-btn::before{
    right: 0;
    top: 0;
    transition-delay: 0.2s;
  }
.nav-btn span::before{
    transition-delay: 0s;
    left: 0;
    top: 0;
  }
  
.nav-btn:hover::after{
    transition-delay: 0s;
  }
.nav-btn:hover span::after{
    transition-delay: 0.2s;
  }
.nav-btn:hover::before{
    transition-delay: 0.4s;
  }
.nav-btn:hover span::before{
    transition-delay: 0.6s;
  }